@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div>
      <a asp-page="./Login" >the application will not allow unauthenticated users to register. The only users available in the application will be the ones that you are going to create in the "SeedDataIdentity" class (or in a class with another name, but with a similar purpose);</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
