<h1>Welcome to Enterprise Bill Management</h1>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	 Context.Response.Redirect("/Admin");
}
else
{
	<a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
	<a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
}
